.pepe{
    background-color: red;
}
.cuerpo{
    background-color: brown;
}
.imagen{
    display: flex;
    justify-content: center;
}
.fixing{
    width: 100%;
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.carsize{
    height: 10rem;
}